<div class="center">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="customer.customerDP" class="card-img" alt="Movie Card Image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">ID: {{customer.CustomerId}} NAME: {{customer.Name}}</h5>
              <p class="card-text">AGE: {{customer.age}}</p>
              <p class="card-text">GENDER: {{customer.gender}}</p>
              <p class="card-text">PHONE: {{customer.phone}}</p>
              <p class="card-text">E-MAIL: {{customer.email}}</p>
              </div>  
          </div>
        </div>
    </div>
</div>